---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/login");
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lucia example</title>
	</head>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Welcome Susumu Tomita!</h1>
      <section>
        <h2>About Me</h2>
        <p>Hello! I'm Susumu Tomita. I'm passionate about web development and always eager to learn new technologies.</p>
        <p>I am a software engineer and interested in Web3 technologies.</p>
        <p>Check out my <a href="https://www.linkedin.com/in/susumutomita/" target="_blank">LinkedIn profile</a> to know more about my professional background and connect with me.</p>
        <p>Feel free to explore my website and reach out if you have any questions or opportunities to collaborate!</p>
      </section>
    </main>
				<p>Your user ID is {user.id}.</p>
				<form method="post" action="/api/logout">
			<button>Sign out</button>
		</form>
    <Footer />
  </body>
</html>

<script>
	document.forms[0].addEventListener("submit", async (e) => {
		e.preventDefault();
		const formElement = e.target as HTMLFormElement;
		await fetch(formElement.action, {
			method: formElement.method,
			body: new FormData(formElement)
		});
		window.location.href = "/login";
	});
</script>
