---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Solidity</li>
        <li>Astro</li>
        <li>AWS</li>
        <li>Terraform</li>
        <li>Nodejs</li>
        <li>Python</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about playing Baseball.
    </p>
  </div>
</Card>
